.trangle{
  height: 600px;
  width: 900px;
  background-color: rgb(230, 85, 75);
  position: absolute;
  top:10%;
  left: 20%;
  transition: all 0.1s ease;
  box-shadow:0 0 10px rgba(177, 77, 77, 0.5);
  /* clip-path: polygon(70% 0%, 20% 90%, 60% 100%,20% 40% ); */
}